* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-family: "Lexend Deca", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  color: #ffffff;
}

body {
  max-width: 1920px;
  width: 100%;
  height: 100vh;
  background: #13131f;
}

a {
  color: #fefbfb;
  text-align: right;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

.logo {
  color: #8257e6;
  text-align: right;
  font-family: "Lexend Deca";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  height: 8vh;
  padding: 25px 15%;
}

.navbar {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 60px;
}

.navbar li {
  display: flex;
}

.mobile-menu {
  display: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.mobile-menu div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  transition: 0.3s;
}

.h-btn {
  display: inline-flex;
  padding: 5px 20px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 30px;
  border: 1px solid #8257e6;
  color: #fefbfb;
  text-align: right;
  font-family: "Lexend Deca";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.h-btn:hover {
  background: #8257e6;
  cursor: pointer;
}

.h-btn2 {
  display: none;
}

section {
  display: flex;
  padding: 120px 15%;
}

.home-text h1 {
  width: 303px;
  color: #fefbfb;
  font-family: "Lexend Deca";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 11px;
}

.home-text h3 {
  width: 492px;
  color: #c4c4c4;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.navbar.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  form {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-10px, 10px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-1px, -2px);
}

@media (max-width: 460px) {
  body {
    overflow-x: hidden;
  }

  nav {
    padding: 24px;
  }

  .navbar {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 75vh;
    background: #1b1b2c;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .navbar li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }

  .h-btn {
    display: none;
  }

  .button a {
    display: flex;
    width: 312px;
    padding: 8px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    border: 1px solid #8257e6;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .button a:hover {
    background: #8257e6;
    cursor: pointer;
  }
  .home {
    gap: 16px;
    padding: 24px;
  }

  section{
  display: flex;
  padding: 83px 15%;
}

  .home-text h1 {
    color: #fefbfb;
    font-family: "Lexend Deca";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .home-text h3 {
    width: 312px;
    color: #c4c4c4;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 19.6px */
  }
}
