@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
}

.header {
  background: #ffe9e8;
  align-items: center;
  padding: 140px;
}

.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 351px;
  padding: 0;
  margin: 0;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid red;
  width: 590px;
  height: 351px;
}

.header-logo {
  border: 1px solid red;
  display: flex;
  margin-bottom: 32px;
}

.header-logo h2 {
  font-family: Archivo;
  font-size: 24px;
  font-weight: 500;
  line-height: 26.11px;
  text-align: left;
  margin-top: 5px;
}

.header-text h1 {
  font-family: Archivo;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-align: left;
}

.header-text h1 span {
  color: #cd3c32;
}

.header-text p {
  width: 590px;
  height: 72px;
  font-family: Archivo;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
}

button {
  width: 238px;
  padding: 14px 32px;
  border-radius: 4px;
  background-color: #cd3c32;
  text-transform: uppercase;
  border: none;

  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  text-align: center;
  color: #ffffff;
}

#img-header {
  width: 500px;
  height: 339px;
  gap: 0px;
  opacity: 0px;
}

.stopwatch {
  display: flex;
  flex-direction: column;
  width: 768px;
  height: 745px;
  top: 865.03px;
  padding: 80px 0px;
}

.stopwatch-title {
  width: 477px;
  height: 128px;
  margin-bottom: 40px;
}

.stopwatch-title h1 {
  font-family: Archivo;
  font-size: 40px;
  font-weight: 600;
  line-height: 43.52px;
  text-align: center;

  margin-bottom: 24px;
}

.stopwatch-title p {
  font-family: Archivo;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

#counter {
  font-family: Archivo;
  font-size: 60px;
  font-weight: 600;
  line-height: 69.63px;
  text-align: center;
  margin-bottom: 40px;
  color: #cd3c32;
}

#img-counter {
  width: 478px;
  height: 307px;
  gap: 0px;
  opacity: 0px;
}

.donate {
  display: flex;
  flex-direction: column;
  width: 768px;
  height: 991px;
  padding: 80px 0px;
}
#image {
  width: 408px;
  height: 394px;
  gap: 0px;
  opacity: 0px;

  margin-bottom: 48px;
}
.donate-group {
  display: flex;
  flex-direction: column;
  width: 768px;
  height: 831px;

  margin-bottom: 24px;
}

.donate-title {
  width: 602px;
  height: 300px;
  margin-bottom: 40px;
}

.donate-title h1 {
  width: 488px;
  height: 96px;
  gap: 0px;
  opacity: 0px;

  font-family: Archivo;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-align: center;

  margin-bottom: 24px;
}

.donate-title p {
  width: 602px;
  height: 180px;
  gap: 0px;
  opacity: 0px;

  font-family: Archivo;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}

#button-donate {
  width: 238px;
  height: 49px;
  padding: 14px 32px 14px 32px;
  gap: 8px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
}

.footer {
  display: flex;
  flex-direction: column;
  width: 768px;
  height: 206px;
  padding: 48px 0px;
  background: #ffe9e8;
}

.footer-contain {
  display: flex;
  flex-direction: column;
  width: 344px;
  height: 110px;
}

.footer-img {
  display: flex;
  justify-content: center;
  width: 170px;
  height: 38px;
  gap: 12px;
  margin-bottom: 32px;
}

#img-footer {
  width: 35px;
  height: 38px;
  gap: 0px;
  opacity: 0px;
}

.footer-img h2 {
  margin-top: 5px;
  font-family: Archivo;
  font-size: 24px;
  font-weight: 500;
  line-height: 26.11px;
  text-align: left;
}

.social-media {
  width: 344px;
  height: 40px;
}



@media (min-width: 320px) {
  .header {
    display: flex;
    flex-direction: column;
    text-align: center;
    width:100%;
    height: 100%;
    background: #ffe9e8;
    gap: 32px;
    padding: 96px 24px;
  }

  .header-top {
    margin-bottom: 64px;
  }

  .header-logo {
    display: flex;
    justify-content: center;
    width: 170px;
    height: 38px;
    gap: 12px;
    margin-bottom: 32px;
  }

  .header-logo h2 {
    font-family: Archivo;
    font-size: 24px;
    font-weight: 500;
    line-height: 26.11px;
    text-align: left;
    margin-top: 5px;
  }

  .header-text h1 {
    width: 327px;
    height: 114px;
    gap: 0px;

    font-family: Archivo;
    font-size: 32px;
    font-weight: 600;
    line-height: 38.4px;
    text-align: center;
    margin-bottom: 24px;
  }

  .header-text h1 span {
    color: #cd3c32;
  }

  .header-text p {
    font-family: Archivo;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    margin-bottom: 40px;
  }

  button {
    width: 327px;
    padding: 16px 32px;
    border-radius: 4px;
    background-color: #cd3c32;
    text-transform: uppercase;
    border-color: none;

    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    text-align: center;
    color: #ffffff;
  }

  .stopwatch {
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 584.38px;
    top: 865.03px;
    padding: 80px 24px;
  }

  .stopwatch-title {
    width: 327px;
    height: 132px;
    gap: 16px;
    opacity: 0px;
  }

  .stopwatch-title h1 {
    font-family: Archivo;
    font-size: 32px;
    font-weight: 600;
    line-height: 34.82px;
    text-align: center;
    color: #121214;
    margin-bottom: 16px;
  }

  .stopwatch-title p {
    font-family: Archivo;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
  }

  #counter {
    font-size: 24px;
    margin-top: 50px;
    font-family: Archivo;
    font-size: 25px;
    font-weight: 600;
    line-height: 34.82px;
    text-align: center;
    color: #cd3c32;
  }

  .donate {
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 833px;
    padding: 80px 24px;
  }
  #image {
    margin-bottom: 48px;
  }
  .donate-group {
    display: flex;
    flex-direction: column;
    width: 327px;
  }

  .donate-title {
    width: 327px;
    height: 327px;
    margin-bottom: 40px;
  }

  .donate-title h1 {
    width: 327px;
    height: 114px;
    font-family: Archivo;
    font-size: 32px;
    font-weight: 600;
    line-height: 38.4px;
    text-align: center;
    margin-bottom: 24px;
  }

  .donate-title p {
    width: 327px;
    height: 189px;
    gap: 0px;
    opacity: 0px;
    font-family: Archivo;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
  }

  .footer {
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 220px;
    gap: 32px;
    padding: 48px 24px 64px;
    background: #ffe9e8;
  }

  .footer-contain {
    display: flex;
    flex-direction: column;
    width: 327px;
    height: 110px;
    gap: 32px;
  }

  .footer-img {
    display: flex;
    justify-content: center;
    width: 170px;
    height: 38px;
    gap: 12px;
    margin-bottom: 32px;
  }

  .footer-img h2 {
    margin-top: 5px;
    font-family: Archivo;
    font-size: 24px;
    font-weight: 500;
    line-height: 26.11px;
    text-align: left;
  }

  .social-media {
    width: 327px;
    gap: 32px;
    opacity: 0px;
  }
}
